[submodule "Adafruit_MQTT_Library"]
	path = Adafruit_MQTT_Library
	url = https://github.com/adafruit/Adafruit_MQTT_Library
[submodule "Adafruit_FT6206_Library"]
	path = Adafruit_FT6206_Library
	url = https://github.com/adafruit/Adafruit_FT6206_Library
[submodule "Adafruit_RA8875"]
	path = Adafruit_RA8875
	url = https://github.com/adafruit/Adafruit_RA8875
[submodule "Adafruit_SleepyDog"]
	path = Adafruit_SleepyDog
	url = https://github.com/adafruit/Adafruit_SleepyDog
[submodule "Adafruit-GFX-Library"]
	path = Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "Adafruit-ST7735-Library"]
	path = Adafruit-ST7735-Library
	url = https://github.com/adafruit/Adafruit-ST7735-Library
[submodule "ADC"]
	path = ADC
	url = https://github.com/pedvide/ADC
[submodule "AFrame"]
	path = AFrame
	url = https://github.com/AndreiDegtiarev/AFrame
[submodule "AWind"]
	path = AWind
	url = https://github.com/AndreiDegtiarev/AWind
[submodule "ASensor"]
	path = ASensor
	url = https://github.com/AndreiDegtiarev/ASensor
[submodule "Agenda"]
	path = Agenda
	url = https://github.com/gioblu/Agenda
[submodule "AltSoftSerial"]
	path = AltSoftSerial
	url = https://github.com/PaulStoffregen/AltSoftSerial
[submodule "Time"]
	path = Time
	url = https://github.com/PaulStoffregen/Time
[submodule "Modbus-Master-Slave-for-Arduino"]
	path = Modbus-Master-Slave-for-Arduino
	url = https://github.com/PaulStoffregen/Modbus-Master-Slave-for-Arduino
[submodule "OneWire"]
	path = OneWire
	url = https://github.com/PaulStoffregen/OneWire
[submodule "TimerOne"]
	path = TimerOne
	url = https://github.com/PaulStoffregen/TimerOne
[submodule "SPI"]
	path = SPI
	url = https://github.com/PaulStoffregen/SPI
[submodule "FastCRC"]
	path = FastCRC
	url = https://github.com/PaulStoffregen/FastCRC
[submodule "CapacitiveSensor"]
	path = CapacitiveSensor
	url = https://github.com/PaulStoffregen/CapacitiveSensor
[submodule "TinyGPS"]
	path = TinyGPS
	url = https://github.com/PaulStoffregen/TinyGPS
[submodule "ArduinoProcessScheduler"]
	path = ArduinoProcessScheduler
	url = https://github.com/wizard97/ArduinoProcessScheduler
[submodule "ATHandler"]
	path = ATHandler
	url = https://github.com/sebasira/ATHandler
[submodule "AutoAnalogAudio"]
	path = AutoAnalogAudio
	url = https://github.com/TMRh20/AutoAnalogAudio
[submodule "Button"]
	path = Button
	url = https://github.com/madleech/Button
[submodule "Auto485"]
	path = Auto485
	url = https://github.com/madleech/Auto485
[submodule "ChibiOS-Arduino"]
	path = ChibiOS-Arduino
	url = https://github.com/greiman/ChibiOS-Arduino
[submodule "SdFat"]
	path = SdFat
	url = https://github.com/greiman/SdFat
[submodule "SerialPort"]
	path = SerialPort
	url = https://github.com/greiman/SerialPort
[submodule "ChRt"]
	path = ChRt
	url = https://github.com/greiman/ChRt
[submodule "DigitalIO"]
	path = DigitalIO
	url = https://github.com/greiman/DigitalIO
[submodule "ChNil"]
	path = ChNil
	url = https://github.com/greiman/ChNil
[submodule "NilRTOS-Arduino"]
	path = NilRTOS-Arduino
	url = https://github.com/greiman/NilRTOS-Arduino
[submodule "CmdArduino"]
	path = CmdArduino
	url = https://github.com/joshmarinacci/CmdArduino
[submodule "Arduino-Temperature-Control-Library"]
	path = Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
[submodule "digitalWriteFast"]
	path = digitalWriteFast
	url = https://github.com/NicksonYap/digitalWriteFast
[submodule "EasyButton"]
	path = EasyButton
	url = https://github.com/brianrumburg/EasyButton
[submodule "Arduino-EasyTransfer"]
	path = Arduino-EasyTransfer
	url = https://github.com/madsci1016/Arduino-EasyTransfer
[submodule "Arduino-EEPROMEx"]
	path = Arduino-EEPROMEx
	url = https://github.com/thijse/Arduino-EEPROMEx
[submodule "FrequencyTimer2"]
	path = FrequencyTimer2
	url = https://github.com/PaulStoffregen/FrequencyTimer2
[submodule "arduino.FiniteStateMachine"]
	path = arduino.FiniteStateMachine
	url = https://github.com/isaacws/arduino.FiniteStateMachine
[submodule "ViSi-Genie-Arduino-Library"]
	path = ViSi-Genie-Arduino-Library
	url = https://github.com/4dsystems/ViSi-Genie-Arduino-Library
[submodule "GSL1680"]
	path = GSL1680
	url = https://github.com/ESTBLC/GSL1680
[submodule "GSM-GPRS-GPS-Shield"]
	path = GSM-GPRS-GPS-Shield
	url = https://github.com/MarcoMartines/GSM-GPRS-GPS-Shield
[submodule "HX711"]
	path = HX711
	url = https://github.com/bogde/HX711
[submodule "gpio_expander"]
	path = gpio_expander
	url = https://github.com/sumotoy/gpio_expander
